// Theme colors
$theme-colors: (
    "primary": #555,
    "secondary": #ccc,
    "pink": pink,
    "red": red,
    "yellow": #aaaa00,
    "green": green,
    "turquoise": turquoise,
    "cyan": cyan,
    "blue": blue,
    "violet": violet,
    "gray": gray
);

// Shadows
$enable-shadows: true;
$btn-box-shadow: none;

// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap"
