{{!-- Metadata --}}
<meta charset="utf-8">
<title>Note Hemn</title>

{{!-- Jquery --}}
<script src="/jquery/jquery.slim.min.js" charset="utf-8"></script>

{{!-- Custom Bootstrap Stylesheet --}}
<link rel="stylesheet" type="text/css" href="/style/custom.css">
