{{!-- Metadata --}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Note Hemn</title>

{{!-- Jquery --}}
<script src="/jquery/jquery.slim.min.js" charset="utf-8"></script>

{{!-- Bootstrap --}}
<script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>

{{!-- Custom Bootstrap Stylesheet --}}
<link rel="stylesheet" type="text/css" href="/style/custom.css">

{{!-- Basic script to initialize Bootstrap stuff --}}
<script type="text/javascript">
    $(function initializeBootstrap() {
        // Initialize tooltips
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
