{{!-- Metadata --}}
<meta charset="utf-8">
<title>Note Hemn</title>

{{!-- Jquery --}}
<script src="/jquery/jquery.slim.min.js" charset="utf-8"></script>

{{!-- Bootstrap --}}
<script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

{{!-- Main Stylesheet --}}
<link rel="stylesheet" type="text/css" href="/style/main.css">
