<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    {{!-- Main  --}}
    <a class="navbar-brand" href="/">Note HEMN</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- User Info --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            {{!-- User Info --}}
            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">{{ user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Log Out</a>
                </li>

            {{!-- Basic Login-Signup --}}
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signup">Sign Up</a>
                </li>

            {{/if}}
        </ul>
    </div>
</nav>

{{!-- Utility spaced navbar --}}
<nav class="navbar navbar-expand-sm navbar-light invisible">
    <a class="navbar-brand" href="#">Bootstrap should fix it's fixed navbar.</a>
</nav>
