<nav class="navbar shadow-lg fixed-top navbar-expand-md navbar-dark bg-primary">
    {{!-- Main --}}
    <a class="navbar-brand" href="/">Note HEMN</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Links --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            {{!-- Add Note --}}
            <li class="nav-item">
                <a class="nav-link" href="/note/new">
                    <span class="fa fa-plus"></span> New Note
                </a>
            </li>

            {{!-- Labels --}}
            <li class="nav-item">
                <a class="nav-link" href="/label">
                    <span class="fa fa-tags"></span> Labels
                </a>
            </li>

            {{!-- User Info --}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button">
                    <span class="fa fa-user"></span> {{ user.name }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/settings">
                        <span class="fa fa-cog"></span> Settings
                    </a>
                    <a class="dropdown-item" href="/auth/logout">
                        <span class="fa fa-sign-out-alt"></span> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

{{!-- Utility spacer navbar --}}
<nav class="navbar navbar-expand-sm navbar-light invisible">
    <a class="navbar-brand" href="#">Bootstrap should fix it's fixed navbar.</a>
</nav>
