<nav class="navbar shadow-lg fixed-top navbar-expand-sm navbar-dark bg-primary">
    {{!-- Main  --}}
    <a class="navbar-brand" href="/">Note HEMN</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Links --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            {{!-- Labels --}}
            <li class="nav-item">
                <a class="nav-link" href="/label">Labels</a>
            </li>

            {{!-- User Info --}}
            <li class="nav-item">
                <a class="nav-link" href="/user/settings">{{ user.name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Utility spacer navbar --}}
<nav class="navbar navbar-expand-sm navbar-light invisible">
    <a class="navbar-brand" href="#">Bootstrap should fix it's fixed navbar.</a>
</nav>
