<nav class="navbar shadow-lg fixed-top navbar-expand-md navbar-dark bg-primary">
    {{!-- Main --}}
    <a class="navbar-brand" href="/">Note HEMN</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Links --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            {{!-- Labels --}}
            <li class="nav-item">
                <a class="nav-link" href="/label">
                    <span class="fa fa-tags"></span> Labels
                </a>
            </li>

            {{!-- User Info --}}
            <li class="nav-item">
                <a class="nav-link" href="/user/settings">
                    <span class="fa fa-user"></span> {{ user.name }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">
                    <span class="fa fa-sign-out-alt"></span> Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Utility spacer navbar --}}
<nav class="navbar navbar-expand-sm navbar-light invisible">
    <a class="navbar-brand" href="#">Bootstrap should fix it's fixed navbar.</a>
</nav>
