<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {{!-- Metadata --}}
        <meta charset="utf-8">
        <title>Note Hemn</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
