<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {{!-- Metadata --}}
        <meta charset="utf-8">
        <title>Note HEMN</title>

        {{!-- Jquery --}}
        <script src="/jquery/jquery.slim.min.js" charset="utf-8"></script>

        {{!-- Bootstrap --}}
        <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        {{> userbar}}
        {{{ body }}}
    </body>
</html>
