<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {{> header}}
    </head>
    <body>
        <div class="form-centerer">
            <div class="form-container">
                {{{ body }}}
                {{> form-footer}}
            </div>
        </div>
    </body>
</html>
