<div class="container-fluid">
    {{!-- Server Errors --}}
    {{#if error}}
        <div class="my-3 alert alert-danger" role="alert">
            {{ error }}
        </div>
    {{/if}}

    {{!-- Login Form --}}
    <form class="my-3" action="/auth/login" method="post">
        {{!-- Email --}}
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email">
        </div>

        {{!-- Password --}}
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password">
        </div>

        {{!-- Submit (and Signup Button) --}}
        <input class="btn btn-primary" type="submit" value="Log In">
        <a class="btn btn-secondary" href="/user/signup">Sign Up</a>
    </form>
</div>
