{{!-- Login Form --}}
<form action="/auth/login/local" method="post">
    {{!-- Title and Subtitle --}}
    <h1 class="text-center">Note Hemn</h1>
    <h5 class="text-center">Log In</h5>

    <hr>

    {{!-- Alerts --}}
    {{> alert-error}}

    {{!-- Email --}}
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email">
    </div>

    {{!-- Password --}}
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
    </div>

    {{!-- Login/Signup --}}
    <div>
        {{!-- Submit Login --}}
        <input class="btn btn-primary" type="submit" value="Log In">

        {{!-- Go to Signup --}}
        <a class="btn btn-secondary" href="/auth/signup">Sign Up</a>
    </div>
</form>
