<div class="container-fluid">
    {{#each notes}}{{> note-snippet}}{{/each}}
</div>
<nav class="navbar fixed-bottom navbar-light">
    <a class="btn btn-primary ml-auto" href="/note/new">New Note</a>
</nav>
