<div class="notes-group">
    {{#each notes}}
        <div class="note">
            <ul class="note-labels">
                {{#each labels}}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
            <div class="note-content">
                {{ text }}
            </div>
        </div>
    {{/each}}
</div>
