<div class="note-snippets-group">
    {{#each notes}}
        <div class="note-snippet">
            <ul class="note-labels">
                {{#each labels}}
                    <li class="note-label">
                        {{ this }}
                    </li>
                {{/each}}
            </ul>
            <div class="note-content">
                {{ content }}
            </div>
        </div>
    {{/each}}
</div>
