{{!-- Alerts --}}
{{> alert-error}}

<form class="my-3" action="/label/{{ label._id }}/edit" method="post">
    {{!-- Label Color --}}
    <div class="form-group">
        <label for="color">Color:</label>
        <select class="form-control" name="color" value="{{ label.color }}">
            {{> color-option color="pink" tcolor="white"}}
            {{> color-option color="red" tcolor="white"}}
            {{> color-option color="yellow" tcolor="dark"}}
            {{> color-option color="green" tcolor="dark"}}
            {{> color-option color="turquoise" tcolor="dark"}}
            {{> color-option color="cyan" tcolor="white"}}
            {{> color-option color="blue" tcolor="white"}}
            {{> color-option color="violet" tcolor="white"}}
            {{> color-option color="gray" tcolor="white"}}
        </select>
    </div>

    {{!-- Label name --}}
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control"
               type="text"
               name="name"
               value="{{ label.name }}">
    </div>

    {{!-- Submit --}}
    <input class="btn btn-primary"
           type="submit"
           name="submit"
           value="Submit">
</form>
