<div class="container-fluid">
    {{> error-alert}}
    <h2 class="my-3">Are you sure you want to delete this label?</h2>
    {{> label-snippet label}}
    <form action="/label/{{ label._id }}/delete" method="post">
        <input class="btn btn-danger"
               type="submit"
               name="confirm"
               value="Confirm">
        <a class="btn btn-secondary" href="/">Cancel</a>
    </form>
</div>
