<div class='note-main-view'>
    <ul class='note-labels'>
        {{#each labels}}
            <li class="note-label">
                {{ this }}
            </li>
        {{/each}}
    </ul>
    <div class='note-content'>
        {{ content }}
    </div>
    <ul class='note-controls'>
        <li class="note-control-item">
            <a class="note-control note-control-home" href="/">
                Home
            </a>
        </li>
    </ul>
</div>
