<div class='note-main-view'>
    <ul class='note-labels'>
        {{#each labels}}
            <li class="note-label">
                {{ this }}
            </li>
        {{/each}}
    </ul>
    <div class='note-content'>
        {{ content }}
    </div>
</div>
