<div class="note-form-container">
    <form class="note-form" action="/{{ action }}" method="post">
        <!-- Labels -->
        <label for="labels">Labels</label>
        <input type="text" name="labels" value="{{join note.labels}}">

        <!-- Content -->
        <label for="content">Content</label>
        <textarea name="content" rows="8" cols="80">{{ note.content }}</textarea>

        <!-- Submit -->
        <input type="submit" name="Submit" value="Submit">
    </form>
</div>
