<div class="container-fluid">
    {{!-- Alert --}}
    {{> alert-error}}
    
    <h2 class="my-3">Are you sure you want to delete this note?</h2>
    {{> note-snippet note}}
    <form action="/note/{{ note._id }}/delete" method="post">
        <input class="btn btn-danger"
               type="submit"
               name="confirm"
               value="Confirm">
        <a class="btn btn-secondary" href="/">Cancel</a>
    </form>
</div>
