<div class="container-fluid">
    {{> error-alert}}
    {{#grid notes}}
        {{> note-snippet}}
    {{/grid}}
</div>
<nav class="navbar fixed-bottom navbar-light">
    <a class="btn btn-primary ml-auto" href="/note/new">
        <span class="fa fa-plus"></span> New Note
    </a>
</nav>
