<div class="user-update-name-container">
    <form class="user-update-name-form" action="/user/update/name" method="post">
        <!-- New Name -->
        <label for="name">New Name:</label>
        <input type="text" name="name" value="{{ name }}">

        <!-- Submit -->
        <input type="submit" name="update" value="Update Name">
    </form>
</div>
