<div class="user-login-group">
    <form class="user-login-form" action="/user/login" method="post">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" name="login" value="Log In">
    </form>
    <div class='form-notification-area'>
        {{#if notfound}}
            <p class='user-login-not-found'>User was not found!</p>
        {{/if}}
    </div>
</div>
