<div class="user-view-group">
    <h1>{{ name }}</h1>
    <h2>{{ email }}</h2>
    <div class="user-view-control">
        <a class="user-view-control-home" href="/">Home</a>
        <a class="user-view-control-update-name" href="/user/update/name">Update Name</a>
    </div>
</div>
