<div class="container-fluid">
    {{!-- Server Errors --}}
    {{#if error}}
        <div class="my-3 alert alert-danger" role="alert">
            {{ error }}
        </div>
    {{/if}}

    {{!-- Update Password --}}
    <h3 class="my-3">Update Password</h3>

    {{!-- Update Form --}}
    <form class="my-3" action="/user/update/password" method="post">
        {{!-- Old Password --}}
        <div class="form-group">
            <label for="old">Old</label>
            <input class="form-control"
                   type="password"
                   name="old">
        </div>

        {{!-- New Password --}}
        <div class="form-group">
            <label for="new_">New</label>
            <input class="form-control"
                   type="password"
                   name="new_">
        </div>

        {{!-- Verify Password --}}
        <div class="form-group">
            <label for="verify">Verify</label>
            <input class="form-control"
                   type="password"
                   name="verify">
        </div>

        {{!-- Submit --}}
        <input class="btn btn-primary"
               type="submit"
               name="update"
               value="Update Password">
    </form>
</div>
