<div class="container-fluid">
    {{!-- Error Signing Up User Alert --}}
    {{#if error}}
        <div class='my-3 alert alert-danger' role='alert'>
            Error signing up user!
        </div>
    {{/if}}

    {{!-- Password and Verify Do Not Match Alert --}}
    {{#if unmatch}}
        <div class='my-3 alert alert-danger' role='alert'>
            Password and verify do not match!
        </div>
    {{/if}}

    {{!-- User Already Exists Alert --}}
    {{#if exists}}
        <div class='my-3 alert alert-danger' role='alert'>
            User already exists!
        </div>
    {{/if}}

    {{!-- Signup Form --}}
    <form class="my-3" action="/user/signup" method="post">
        {{!-- Name --}}
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name">
        </div>

        {{!-- Email --}}
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email">
        </div>

        {{!-- Password --}}
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password">
        </div>

        {{!-- Verify --}}
        <div class="form-group">
            <label for="verify">Verify</label>
            <input class="form-control" type="password" name="verify">
        </div>

        {{!-- Submit --}}
        <input class="btn btn-primary" type="submit" value="Sign Up">
    </form>
</div>
