<div class="user-update-password-container">
    <!-- Update Password -->
    <h3>Update Password</h3>

    <form class="user-update-password-form" action="/user/update/password" method="post">
        <!-- Old Password -->
        <label for="old">Old</label>
        <input type="password" name="old">

        <!-- New Password -->
        <label for="new_">New</label>
        <input type="password" name="new_">

        <!-- Verify Password -->
        <label for="verify">Verify</label>
        <input type="password" name="verify">

        <!-- Submit -->
        <input type="submit" name="update" value="Update Password">
    </form>
</div>
