<div class="user-signup-group">
    <form class="user-signup-form" action="/user/signup" method="post">
        <!-- Name -->
        <label for="name">Name</label>
        <input type="text" name="name">

        <!-- Email -->
        <label for="email">Email</label>
        <input type="text" name="email">

        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" name="password">

        <!-- Verify -->
        <label for="verify">Verify</label>
        <input type="password" name="verify">

        <!-- Submit -->
        <input type="submit" name="login" value="Log In">
    </form>
    <div class='form-notification-area'>
        {{#if error}}
            <p class='user-signup-error'>Error signing up user!</p>
        {{/if}}

        {{#if unmatch}}
            <p class='user-signup-unmatch'>Password and verify do not match!</p>
        {{/if}}

        {{#if exists}}
            <p class='user-signup-exists'>User already exists!</p>
        {{/if}}
    </div>
</div>
