<div class="container-fluid">
    <h2 class="my-3">Do you really want to log out?</h2>
    <form class="my-3" action="/user/logout" method="post">
        <input class="btn btn-danger" type="submit" name="logout" value="Log Out">
        <a class="btn btn-link" href="/">Cancel</a>
    </form>
</div>
