<div class="user-login-group">
    <h2>Do you really want to log out?</h2>
    <form class="user-login-form" action="/user/logout" method="post">
        <input type="submit" name="logout" value="Log Out">
        <a class="delete-confirm-form-cancel" href="/">Cancel</a>
    </form>
</div>
